<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>dreamapple</title>

	<!-- Jsvascript -->
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>

	<!-- CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>